body{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;}

.heder{
    width: 100%; 
    margin-bottom: 48px;}

h1{
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 80px;}

.h1-link{
    color:#4BCAFF; 
    text-decoration: none;}

.Ra{
    color: #000000;}

.navbar{
    width: 100%;
    height: auto;
    background-color: #35444F;}

.navbar-list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;}

   
.navbar-item{
    width: auto;
    padding: 26px 38px 19px 38px;
    border-left: 1px solid #FFFFFF;}

.navbar-item:last-child{
    border-right: 1px solid #FFFFFF;}

.navbar-item:hover {
    background-color: #222F3A;}

.navbar-link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;}

.container-main{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 37px;
    justify-content: flex-start;}

.aside-menu{
    margin-right: 52px;
    width: 344px;
    height: 100%;
    border: 1px solid grey;}

.aside-menu-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;}

.aside-menu-item{
    padding: 0;  
    width: 100%;
    height: auto;}

.aside-menu-link{
    display: block;
    color: #495863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    padding: 27px 0px 27px 44px;}

.aside-menu-link:hover{
    padding-left: 75px;
    color: #000000;
    background-color: #DBDBDB;}

.container-image{
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;}

.image{  
    width: 320px;  
    height: 381px;
    background-image: url(../Image/Ramda-image.png);
    background-size: cover;
    background-repeat: no-repeat; 
    transition: 0.65s;}

.image:hover{
    transform: scale(1.2);}

.text{
    margin: 34px 0px 34px 395px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;}

.nav-footer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: rgba(99,105,110,0.48);
    margin-bottom: 30px;
    margin-top: 51px;}

.nav-footer-list{
    display: flex;
    padding: 20px 40px 20px 40px;
    margin: 0;}

.nav-footer-item{
    width: auto;
    padding-right: 33px;}

.nav-footer-link{
    color: #0C1927;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;}

.nav-footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;}
    
.copiright{
    color: #0C1927;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-left: 70px;}
